#canvas{
	background-color: black;
	border:1px solid gray;
	margin:50px auto;
	display: block;  /*必须设置这个才能居中*/
}

#test{
	text-align: center;
	height: 30px;
	width: 100px;
	margin: 10px auto;
	font: normal normal 20px/20px "microsoft yahei";
}