@import url(reset.css);
/*引入自定义字体*/
@font-face
{
    font-family: lixv;
    src:url(../font/lixv.ttf);
}

html{
    overflow: hidden;
}


#container {
}

aside {
    width: 210px;
    float: left;
    height: 100%;
    background-color: #eeeeee;
    /*box-shadow: 4px 4px 4px rgba( 150, 150, 150, 0.3);*/
    overflow: hidden;
}

#logo {
    height: 64px;
    background-color: #ddd;
    width: 180px;
    padding: 8px 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 4px 4px 8px rgba( 150, 150, 150, 0.3);
}

#photo{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba( 150, 150, 150, 0.5);
    float: left;
    overflow: hidden;
}

#photo img{
    width: 64px;
    height: 64px;
    /*border-radius: 50%;
    box-shadow: 4px 4px 4px rgba( 150, 150, 150, 0.5);
    float: left;*/
}

#name{
    float: left;
    width: 110px;
    height: 64px;
    padding: 0px 0px 0px 5px;
}

#name h1{
    font: normal normal 18px/22px 'lixv';
}

#name p{
    color:gray;
    font: normal normal 10px/14px 'Microsoft YaHei';
}

#demoList {
    /*background-color: #eeeeee;*/
    width: 200px;
    overflow: auto;
    margin: 10px 0px 10px 0px;
    /*padding: 5px 0px;*/
}

.unChecked {
    height: 25px;
    display: block;
    font: normal normal 14px/25px 'Microsoft Yahei';
    color: black;
    padding-left: 10px;
}

.unChecked:hover {
    background-color: #bbbbbb;
}

.checked {
    height: 25px;
    display: block;
    font: normal bold 14px/25px 'Microsoft Yahei';
    /*color: gray;*/
    padding-left: 10px;
    border-left: 5px solid #99CC00;
    /*background-color: #cccccc;*/
}

#content{
    float: right;
    /*background-color: pink;*/
}

header {
    width: 100%;
    height: 0px;
    /*background-color: blue;*/
    margin: 0px auto;
    float: left;
}

header nav {
    height: 30px;
    width: 100%;
    background-color: #eeeeee;
    overflow: hidden;
}

header nav li {
    height: 30px;
    font: normal bold 20px/30px "宋体";
    margin-right: 50px;
    float: right;
}

header nav ul li a {
    color: #666666;
}

header nav li:hover {
    border-top: 3px solid #99cc00;
}

#iframeBox {
    width: 100%;
    /*border-left: 3px solid #aaaaaa;*/
    /*background-color: #cccccc;*/
    float: left;
}

footer {
    clear: both;
    background-color: #eee;;
    height: 0px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    font: normal normal 13px/20px '宋体';
    color: gray;
    text-shadow: 2px 2px 2px #aaaaaa;
    text-align: right;
}
