#loginbar{
	height:33px;
	background:#f7f7f7;
	margin-bottom:10px;
}

#login{
	display:block;
	width:990px;
	height:33px;
	margin:0px auto;
	font:normal normal 13px/33px 'microsoft Yahei','SimHei',sans-serif;
}

#login span{
	font:normal normal 13px/13px '宋体',serif;
}

#login a{
	font:normal normal 13px/13px '宋体',serif;
}


#login div{
	float:right;
}

.blank{
	height:8px;
	clear:both;
}

#logo{
	width:330px;
	float:left;
	margin-top:10px;
}

#header{
	width:990px;
	height:80px;
	margin:0px auto;
}

#search-div{
	height:80px;
	width:660px;
	float:right;
}

#search{
	width:405px;
	float:left;
	margin-top:15px;
}

#keyword{
	width:310px;
	height:26px;
	border:2px solid #b61d1d;
	float:left;
}

.search-btn{
	width:83px;
	height:38px;
	background:#b61d1d;
    width: 83px;
    height: 30px;
    border: 0;
    float: left;
	font:normal normal 15px/30px 'microsoft Yahei','SimHei',sans-serif;
	color:#fffee8;
}

#hotword{
	margin-top:5px;
	height:19px;
	width:405px;
	float:left;
}

#hotword span{
	font-size:13px;
}

#hotword a{
	font-size:13px;
}

#shoppingcart{
	margin-top:20px;
	background:url(../images/cartinfo.gif) no-repeat;
	width:131px;
	height:29px;
	clear:right;
	float:right;
	font:normal normal 15px/29px 'microsoft Yahei','SimHei',sans-serif;
	padding-left:35px;
}

#navbar{
	height:40px;
	background:#e4393c;
}

#nav{
	height:40px;
	width:990px;
	margin:0px auto;
}

#nav ul li{
	height:40px;
	width:100px;
	float:left;
	margin-left:1px;
	font:normal normal 15px/40px 'microsoft Yahei','SimHei',sans-serif;
	text-align:center;
}

#nav ul li a{
	color:white;
}

#nav ul li:hover{
	background:#b61d1d;
}

#main{
	margin:0px auto;
	width:990px;
}

#lside{
	height:1105px;
	width:200px;
	margin-right:10px;
	float:left;
}

.subtitle{
	background:#e4393c;
	height:27px;
	clear:both;
	margin-top:10px;
}

.subtitle h1{
	float:left;
	margin-left:10px;
	width:100px;
	color:white;
	font:normal normal 15px/27px 'microsoft Yahei','SimHei',sans-serif;

}


.subtitle a{
	display:block;
	float:right;
	color:white;
	font:normal normal 13px/27px 'microsoft Yahei','SimHei',sans-serif;
	margin-right:10px;
}

#cagegoryCon{
	width:196px;
	height:308px;
	border:2px solid #e4393c; 
}

#cagegoryCon dl{
	height:65px;
	width:176px;
}

#cagegoryCon dt{
	background:url(../images/bg2.gif) no-repeat left -6px;
	height:15px;
	width:196px;
	margin-top:10px;
	padding-left:15px;
}

#cagegoryCon dt a{
	display:block;
	font:normal bold 14px/15px serif;
}

#cagegoryCon dd{
	margin-top:5px;
	height:17px;
	width:63px;
	background:url(../images/tubiao.gif) no-repeat left center;
	float:left;
	margin-left:15px;
	padding-left:5px;
}

#cagegoryCon dd a{
	display:block;
	font:normal normal 13px/13px serif;
}

#topbox{
	width:198px;
	height:214px;
	border:1px solid #e5e5e5;
}

#topbox  ol li{
	height:27px;
	border-bottom:1px solid #e2e2e2 ;
	margin-top:5px;
}

#topbox span{
	font:normal bold 13px/27px sreif;
	color:#ff0000;
}


#topbox a{
	font:normal normal 13px/27px sreif;
	color:black;
}

#brandbox{
	width:188px;
	height:182px;
	border:1px solid #e5e5e5;
	padding-left:10px;
}

#brandimg{
	width:80px;
	height:30px;
	border:1px solid #e3e3e3;
	float:left;
	margin-right:10px;
	margin-top:11px;
}

#brandimg img{
	width:78px;
	height:28px;
}

#invoice{
	width:188px;
	height:100px;
	border:1px solid #e5e5e5;
	padding-left:10px;
}

#invoice li{
	width:80px;
	height:30px;
	border:1px solid #e3e3e3;
	float:left;
	margin-right:10px;
	margin-top:11px;
	font:normal normal 15px/30px 'microsoft Yahei','SimHei',sans-serif;
}

#invoice a{
	color:#777777;
	margin-left:25px;
}

#invoice a:hover{
	color:#ff4000;
}

#orderQuery{
	width:198px;
	height:90px;
	border:1px solid #e5e5e5;
	padding-top:20px;
}

#order{
	margin-left:10px;
	width:176px;
	height:30px;
	border:1px solid #e5e5e5;
}

#submit-btn{
	margin-top:10px;
	margin-left:59px; 
	width:80px;
	height:30px;
	background:#cd131a;
	color:white;
	border:0px;
	font:normal normal 15px/30px 'microsoft YaHei',sans-serif;
}

#rside{
	margin-top:10px;
	height:1105px;
	width:780px;
	float:right;
}

#banner{
	width:574px;
	height:240px;
	float:left;
}

#ads{
	width:200px;
	height:70px;
	background:#e5e5e5;
	float:right;
	margin-bottom:8px;
}

#noticetitle{
	float:right;
	background:#e4393c;
	height:27px;
	width:200px;
}

#noticetitle h1{
	margin-left:10px;
	color:white;
	font:normal normal 15px/27px 'microsoft Yahei','SimHei',sans-serif;
}

#notice{
	width:198px;
	height:133px;
	border:1px solid #e5e5e5;
	float:right;
}

#notice li{
	width:198px;
	height:25px;
	border-bottom:1px solid #e3e3e3;
}

#notice span{
	font:normal bold 13px/25px serif;
}

#notice a{
	font:normal 13px/25px serif;
}

.tit{
	width:780px;
	height:27px;
}

.hotbox{
	clear:both;
	margin-top:10px;
}

.tit h1{
	border-bottom:2px solid #cd131a;
    width:150px;
    float:left;
    height:25px;
    text-indent:15px;
    background:url(../images/i.gif) left center no-repeat;
	color:black;
	font:normal normal 15px/25px 'microsoft Yahei','SimHei',sans-serif;
}

.morebox{
	height:25px;
	border-bottom:2px solid #e3e3e3;
}

.morebox h2{
	margin-right:10px;
	height:25px;
	line-height:25px;
	float:right;
	font:normal normal 13px/25px 'microsoft Yahei','SimHei',sans-serif;
}

.goodsbox{
	clear:both;
	width:758px;
	height:230px;
	padding:10px;
	border:1px solid #e3e3e3;
}

.goods{
	width:172px;
	height:213px;
	text-align:center;
	float:left;
	margin:8px;
}

.goods a{
	display:block;
	margin-top:8px;
	margin-bottom:5px;
	font:normal normal 13px/13px '宋体',serif;
}

.goods del{
	color:#666666;
	font:normal normal 13px/13px '宋体',serif;
}

.goods span{
	font:normal bold 13px/13px '宋体',serif;
	color:#ff6c02;
}

.mainbottom{
	margin-top:10px;
}

.imgbox{
	width:170px;
	height:170px;
	border:1px solid #e3e3e3;
}

#bottomgood{
	border:1px solid #e3e3e3;
	padding:0px 22px;
	width:944px;
	height:235px;
}

#footer{
	width:990px;
	margin:0px auto;
}

#helpbox{
	height:130px;
	width:988px;
	border:1px solid #e3e3e3;
}

#helpbox dl{
	height:90px;
	width:136px;
	margin:20px 0px 20px 20px;
	float:left;
	border-right:1px solid #e3e3e3;
}

#helpbox dt{
	color:#333333;
	font:normal bold 14px/15px serif;
	margin:0px 0px 5px 5px;
}

#helpbox dd{
	color:#333333;
	font:normal normal 13px/20px serif;
	padding-left:5px;
	background:url(../images/tubiao.gif) no-repeat left center;
}

span{
	color:#333333;
	font:normal normal 13px/13px serif;
}

#friendlinks{
	height:40px;
	width:988px;
	border:1px solid #e3e3e3;
}

#friendlinks li{
	width:80px;
	float:left;
	padding-left:55px;
	height:40px;
	color:#8a8a7b;	
	font:normal normal 13px/40px serif;
	
}

#chuiniu{
	text-align:center;
}

#copyright{
	text-align:center;
	color:#555555;
	font:normal normal 13px/13px '宋体',serif;
	margin-bottom:15px;
}